<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Galaxy Arcade</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <h1 id="titlelogo">Galaxy Arcade</h1>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  <section id="content">
      <img id="title" src="/assets/img/titleLogo.png" alt="Galaxy Arcade"/>
      <div id="options">
          <div class="path">
              <h2><a href="/login">Log In</a></h2>
              <img class="icon" src="/assets/img/key.png">
              <p> Sign in now to show off any of your newly designed games or play and critique any available games.</p>
          </div>
          <div class="path">
              <h2><a href="/signup">Sign Up</a></h2>
              <img class="icon" src="/assets/img/registration.png">
              <p> Register in order to start posting and sharing your work!</p>
          </div>
      </div>
  </section>
</body>
</html>