html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("img/galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

#title {
    margin-bottom: 1%;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-right: 60%;
}

#one-liner{
    color: ghostwhite;
    text-align: center;
    align-self: center;
    font-size: 100%;
    font-family: 'Goldman', cursive;
}

nav {
    width: 100%;
    height: 50px;
    background-image: url(img/brushed-metal.png);
    color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Goldman', cursive;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-image: url(img/brushed-metal.png);
    color: grey;
}

.navlink a:hover {
    color: #66bdff;
}

.gameForm {
    border: 2px solid white;
    height: 48%;
    width: 20%;
    margin: 1%;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: blue;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    font-family: 'Goldman', cursive;
}

#description{
    width: 60%;
    height: 20%;
    font-family: 'Goldman', cursive;
}

.field{
    display: block;
    font-size: 1.2em;
    float: left;
    color: white;
    margin-bottom: 4%;
    margin-top: 4%;
    font-family: 'Goldman', cursive;
}

.gameSubmit {
    transition: background-color 0.4s ease;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    background-image: url(img/brushed-metal.png);
    color: darkgrey;
    text-decoration: none;
    margin: 1%;
    font-family: 'Goldman', cursive;
}

.gameSubmit:link, .gameSubmit:visited, .gameSubmit:hover, .gameSubmit:active {
    color: darkgrey;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 0.9em;
    font-family: 'Goldman', cursive;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10%;
    text-align: right;
    font-size: 0.9em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: white;
    padding: 3px 0px;
    background-image: url(img/brushed-metal.png);
    color: darkgrey;
    text-decoration: none;
    font-family: 'Goldman', cursive;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: darkgrey;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
    font-family: 'Goldman', cursive;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#devMessage {
    height: 5%;
    display: inline;
    margin-left: 3%;
}

#errorMessage {
    font-size: 1.1em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#games {
    width: 40%;
    min-width: 400px;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    color: ghostwhite;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.game {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    color: ghostwhite;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #55acee;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    font-family: 'Goldman', cursive;
    font-size: 0.5em;
}

.game img {
    width: 20%;
    height: 20%;
    float: left;
}

.game p {
    width: 40%;
    height: 5%;
    float: right;
}

.game:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

#downloadForm input{
    height: 3%;
    float: none;
    margin-top: 10%;
    margin-left: 15%;
    background-image: url(img/brushed-metal.png);
    color: darkgrey;
    font-family: 'Goldman', cursive;
}

.path{
    width: 15%;
    height: 40%;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    margin: 5%;
    float: left;
    text-align: center;
    font-size: 0.9em;
    padding: 1%;
    font-family: 'Goldman', cursive;
}
.path img{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#titlelogo{
    color: aliceblue;
    text-align: center;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Goldman', cursive;
}

h3.emptyGame {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
    font-family: 'Goldman', cursive;
}

h3.gameName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
    font-family: 'Goldman', cursive;
}

p.gamePlot {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
    font-family: 'Goldman', cursive;
}

.game:first-child {
    margin-top: 10px;
}

.game:last-child {
    margin-bottom:10px;
}